.course_nav .nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5px 35px;
  padding: 0 0 18px;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  color: #6d6c80;
}
.course_nav .nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #d9d9f3;

  border-radius: 30px;
  z-index: -1;
}

.course_nav ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #5751e1;
  border-radius: 30px;
  z-index: 1;
}
.course_nav .nav .nav_item .nav_link:hover::after {
  width: 100%;
  transition: 0.4s;
}

.course_nav .nav li a {
  text-decoration: none;
  color: rgb(127, 126, 151);
  position: relative;
  padding: 0;
  border-style: none;
  font-size: 17px;
  font-weight: 500;
  background: transparent;
}

.course_nav .nav li a:hover {
  cursor: pointer;
  color: #161439;
  transition: 0.4s;
}

.courses__nav .nav::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 3px;
  z-index: -1;
  background: rgb(217, 217, 243);
  border-radius: 30px;
}
