/* @font-face { */
/* font-family: "flaticon_skill_grow";
  src: url("../fonts/flaticon_skill_grow.ttf?b804fdf7efe64078cf35502d1d7c3cc7")
      format("truetype"),
    url("../fonts/flaticon_skill_grow.woff?b804fdf7efe64078cf35502d1d7c3cc7")
      format("woff"),
    url("../fonts/flaticon_skill_grow.woff2?b804fdf7efe64078cf35502d1d7c3cc7")
      format("woff2");
} */

/* @font-face {
  font-family: "flaticon_skill_grow";
  src: url("../fonts/flaticon_skill_grow.ttf?b804fdf7efe64078cf35502d1d7c3cc7")
      format("truetype"),
    url("../fonts/flaticon_skill_grow.woff?b804fdf7efe64078cf35502d1d7c3cc7")
      format("woff"),
    url("../fonts/flaticon_skill_grow.woff2?b804fdf7efe64078cf35502d1d7c3cc7")
      format("woff2");
} */
/* 
i[class^="flaticon-"]:before,
i[class*=" flaticon-"]:before {
  font-family: flaticon_skill_grow !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*="flaticon-"] {
  /* display: block; */
/* line-height: 0;
} */
.flaticon-search:before {
  content: "\f101";
}
.flaticon-search-1:before {
  content: "\f102";
}
.flaticon-back:before {
  content: "\f103";
}
.flaticon-arrow-right:before {
  content: "\f104";
}
.flaticon-angle-right:before {
  content: "\f105";
}
.flaticon-right:before {
  content: "\f106";
}
.flaticon-scribble:before {
  content: "\f107";
}
.flaticon-placeholder:before {
  content: "\f108";
}
.flaticon-map:before {
  content: "\f109";
}
.flaticon-calendar:before {
  content: "\f10a";
}
.flaticon-calendar-1:before {
  content: "\f10b";
}
.flaticon-clock:before {
  content: "\f10c";
}
.flaticon-book:before {
  content: "\f10d";
}
.flaticon-shopping-cart:before {
  content: "\f10e";
}
.flaticon-mortarboard:before {
  content: "\f10f";
}
.flaticon-user:before {
  content: "\f110";
}
.flaticon-user-1:before {
  content: "\f111";
}
.flaticon-graphic-design:before {
  content: "\f112";
}
.flaticon-email:before {
  content: "\f113";
}
.flaticon-investment:before {
  content: "\f114";
}
.flaticon-profit:before {
  content: "\f115";
}
.flaticon-fashion:before {
  content: "\f116";
}
.flaticon-web-design:before {
  content: "\f117";
}
.flaticon-data-management:before {
  content: "\f118";
}
.flaticon-interaction:before {
  content: "\f119";
}
.flaticon-coding:before {
  content: "\f11a";
}
.flaticon-rating-stars:before {
  content: "\f11b";
}
.flaticon-webinar:before {
  content: "\f11c";
}
.flaticon-certificate:before {
  content: "\f11d";
}
/* .categories-slider {
  height: auto;
  width: 100%;
  background-color: rgb(172, 168, 168);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 300px;
} */
.categories_item {
  text-align: center;
  margin-right: 19px;
}
.categories_item {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.categories_item a {
  color: #5751e1;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.categories_item .icon {
  width: 150px;
  height: 150px;
  display: flex;
  border: 1px solid rgb(212, 210, 210);
  align-items: center;
  justify-content: center;
  border-radius: 150px;
  background: linear-gradient(180deg, #fff 0%, #f1f1fa 100%);
  font-size: 55px;
  color: #7f7e97;
  transition: all 0.3s ease-in-out;
  position: relative;
  margin: 0 0 12px;
}

.categories_item .icon::before {
  content: "";
  position: absolute;
  top: 26px;
  right: 26px;
  background-image: url(../../../public/images/cat_star.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 26px;
  pointer-events: none;
}
.categories_item .name {
  display: block;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #161439;
  margin: 0 0 7px;
}

.categories_item .courses {
  display: block;
  line-height: 1.3;
  color: #6d6c80;
  font-family: sans-serif;
}
.categories_wrap {
  background: #f7f7f9;
  border-radius: 500px;
  position: relative;
  padding: 52px 145px 45px;
}
