.newsletter__form{
    color: #9d9bf1;
    display: flex;
    gap:10px;
    font-family: 'Inter', sans-serif;;
}
.newsletter__form input{
    width: 65%;
    border: 1px solid #433EC2;
    background: #4A44D1;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    padding: 18px 20px;
    line-height: 1.4;
    height: 60px;
    flex-grow: 1;
}
.newsletter__content h2{
    margin-bottom: 25px;
   font-weight: 400;
   font-family: 'Poppins', sans-serif;
}
.newsletter__form  ::placeholder{
    color: #9d9bf1;
}