.offer_features_item{
    border-radius: 20px;
    border: 1px solid #C9E4E9;
    background: #F1FDFF;
    box-shadow: 8px 8px 0px 0px #C9E4E9;
    padding: 40px 40px 40px 50px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    transition: all 0.3s ease-out 0s;
}
.offer_features_item:hover {
    box-shadow: none ;
}

.features_item-shape {
    position: absolute;
    right: 28px;
    top: 21px;
    z-index: -1;
    color: rgba(39, 39, 47, 0.2);
}
.features_icon{
    width: 70px;
    height: 70px;
    flex: 0 0 auto;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features_content{
    margin-bottom: 0;
    color: #1c1a4a;
    text-transform: capitalize;
}
.content-top{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 18px;
}