/* .features__item{
    border-radius: 20px;
    border: 1px solid #C9E4E9;
    background: #F1FDFF;
    box-shadow: 8px 8px 0px 0px #C9E4E9;
    padding: 40px 40px 40px 50px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    transition: all 0.3s ease-out 0s;
} */ 