.btn {
  border: medium none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0;
  line-height: 1.12;
  margin-bottom: 0;
  padding: 16px 30px;
  text-align: center;
  text-transform: capitalize;
  touch-action: manipulation;
  transition: all 0.3s ease-out 0s;
  vertical-align: middle;
  border-radius: 50px;
  white-space: nowrap;
  box-shadow: 4px 6px 0px 0px #050071;
  overflow: hidden;
}

.btn_primary {
  background: #5751e1 none repeat scroll 0 0;
  color: #5751e1;
}

.btn_secondary {
  background: #ffc224 none repeat scroll 0 0;
  border: 1px solid #141109;
  color: #161439;
}
.arrow-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s linear;
}
.btn:hover,
.btn:focus-visible {
  background: #ffc224;
  color: #161439;
  box-shadow: 0 0 0 0 #050071;
}
