* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
p {
  margin: 0;
}

.header-top {
  background-color: #161439;
}

.top_social_links {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: end;
}

.list-wrap {
  margin: 0;
  padding: 0;
}

.top_header_phone {
  gap: 5px;
  color: #e6eaef;
  font-weight: 600;
  font-size: 14px;
}

ul {
  padding-left: 0;
}
.btn-teal {
  background-color: #14b8a6;
  color: white;
}
.btn-teal:hover {
  background-color: #0d9488;
  color: white;
}
.border-teal {
  border-color: #14b8a6 !important;
}

.socialIcon {
  width: 20px;
  height: 20px;
}
.footer_bottom {
  background-color: rgb(97, 97, 206);
  color: #fff;
  padding: 30px 0;
}

.list-warp {
  list-style: none;
  display: flex;
}
.list-warp a {
  color: #fff;
  text-decoration: none;
}
.list-warp li {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.list-warp li::before {
  content: "";
  width: 1px;
  background: #fff;
  height: 20px;
  position: absolute;
  left: 0;
  top: 3px;
}
.list-warp li:last-child {
  padding-right: 0;
}
.list-warp li:first-child:before {
  width: 0;
}
